* {
  color: #c4c4c4;
  font-family: monaco, monospace;
}

html {
  padding: 0px;
  margin: 10px;
  scroll-behavior: smooth;
  background-color: #202124;
}

p, body, code, pre, li, ul {
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  word-wrap: break-word;
  width: 85%;
  max-width: 950px;
  padding: 40px 40px 40px 40px;
  text-align: left;
  margin: 0 auto;
  max-width: 50em;
  padding: 0 2em 0 2em;
}

pre {
  font-family: monaco, monospace;
  font-size: 14px;
  overflow-x: auto;
  padding: 1em;
}

code {
  font-family: monospace;
  background: #44454d;
  padding: 2px 5px;
}

pre code {
  background: #2c2d32;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li, ul {
  position: relative;
  left: -11px;
}

ul.blog-posts {
  list-style-type: none;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 160px;
}

h1, h2, h3 { font-weight: bold; margin-top: 1em; }
h1 { font-size: 2em; }
a {text-decoration: none;}
a:active, a:link, a:visited {color: #8ab4f8;}
a:hover {color: #4286f4; text-decoration: none;}
pre {font-family: monospace;}
hr {margin: 0px 0px 0px 0px;}
nav a {margin-right: 10px;}
footer {font-size: 1rem;}

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #c4c4c4;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}
::selection {color: #c4c4c4; background: #50525b;}
